<!DOCTYPE html>
<html>
  <head>
    <title>Towncloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <script type="text/javascript">
      window.githubLogo = "<%= image_url('github-logo.png') %>"
      window.linkedInLogo = "<%= image_url('linkedin-logo.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
